.snack-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.snack-card-img {
  height: 300px;
}

.snack-card-title {
  min-height: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  display:flex;
  font-family: "Bold";
  color: #04354a;
  font-size: 1rem;
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 0.5rem;
}
