.restaurant-line{
  margin-left:0; 
  margin-right: 0;
  margin-top: 0.1rem;
  min-height: 40px;
}



.order-now .Notification {
  display: none;
}
.order-now {
  color: white;
  padding: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 1.1rem;
  border: 1px solid #0077a3;
  /* margin-top:0.8rem; */
}

.order-now:hover {
  color: #04354a;
  background-color: white;
  border: 1px solid #04354a;
  padding: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
}



.img-meal {
  width: 240px;
  height: 200px;
}

.meal-name {
  min-height: 3rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: flex;
  font-family: "Bold";
  color: #04354a;
  font-size: 1.1rem;
  background-color: aliceblue;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.label {
  color: rgb(0, 0, 0);
  font-family: "Bold";
  font-size: 1rem;
}

element.style {
  height: 200px;
}

.meal-card-ai {
  background-color: #0077a3 !important;
  /* color: white !important; */
}

.meal-card .ai-header {
  display: none;
}
.meal-card-ai button {

  border: 2px solid white;
}


.meal-card-ai span {
  color: white !important;
}

.meal-card-ai .ai-header img {
  width: 10%;
  height: 10%;
  margin-right: 1rem;
}

.meal-card-ai h4 {
  color: white;
  font-weight: 100;
  font-family: "Regular";
}

.meal-card-ai h3 {
  margin-top: 1px;
}

.meal-card-ai h4 {
  color: white;
  font-weight: 100;
  font-family: "regular";
}

.ai-pick-title {
  color: white;
  font-weight: 100;
  font-family: "regular";
  font-size: 1.25rem;
}

.meal-card-ai .ai-header {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}


/* added  */

.meal-image-container {
  position: relative;
}

.meal-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.hover-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(10, 122, 170);
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  text-align: center;
  font-family: "Regular";
}

.meal-image-container:hover .hover-text {
  opacity: 1;
}

.img-meal:hover{
  opacity: 0.5;
}
.fuel-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(255, 93, 69);
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 15px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
  text-align: center;
  font-family: "Regular";
  z-index: 10;
  animation: fadeOut 2s ease-out forwards;
}
.img-meal.dimmed {
  opacity: 0.3;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.95);
  }
}