.order-now {
  color: white;
  padding: 0.3rem;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  font-size: 1.1rem;
}

.order-now:hover {
  color: #04354a;
  background-color: white;
  border: solid #04354a;
}

.img-meal {
  width: 240px;
  height: 200px;
}

.meal-name {
  font-family: "Bold";
  color: #04354a;
  font-size:1.3rem;
  background-color: aliceblue;
  padding:0.5rem;
  border-radius: 0.5rem;
}

.label {
  color: rgb(0, 0, 0);
  font-family: "Bold";
}

element.style{
  height:200px;
}
