html,
body,
.landing-page-text {
  height: 100%;
  min-height: 95.5vh;
  margin: 0;
  padding: 0;
  background: linear-gradient(180deg, #ffffff, #c4ebff);
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
}
.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -18rem;
}
.logo {
  width: 5.5vw;
}

.logo:hover {
  transform: scale(1.1);
}

.landing-page-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto;
}

.title {
  display: flex;
  font-family: "Bold";
  margin: 0.5rem;
  font-size: 5.5vw;
  z-index: 4;
}

.landing-page-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Regular";
  font-size: 2.5vw;
  z-index: 4;
  margin-top: 1vh;
}

.get-started-button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0d9dda;
  border: solid #0a7aaa;
  border-width: 0.3rem;
  font-family: "Bold";
  font-size: 2vw;
  padding: 2vw;
  border-radius: 2.1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  z-index: 4;
}

.get-started-button:hover {
  background-color: #0a7aaa;
  transform: scale(1.1);
}

.astro-gif-container {
  position: absolute;
  bottom: 220%;
  left: 74%;
  transform: translateX(-50%);
  width: 10vw;
  height: auto;
  pointer-events: none;
  z-index: 3;
}

.codey-gif-container {
  position: absolute;
  bottom: 10%;
  left: 75%;
  transform: translateX(-50%);
  width: 55vw;
  height: auto;
  pointer-events: none;
  z-index: 3;
}

.einstein-container {
  position: absolute;
  bottom: 330%;
  left: 65%;
  transform: translateX(-50%);
  width: 10vw;
  height: auto;
  pointer-events: none;
  z-index: 3;
}

.appy-container {
  position: absolute;
  bottom: 120%;
  left: 55%;
  transform: translateX(-50%);
  width: 10vw;
  height: auto;
  pointer-events: none;
  z-index: 3;
}

.ruth-container {
  position: absolute;
  bottom: 130%;
  left: 41%;
  transform: translateX(-50%);
  width: 10vw;
  height: auto;
  pointer-events: none;
  z-index: 3;
}

.footer-wrapper {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.above-footer-animation {
  position: absolute;
  bottom: 100%;
  left: 65%;
  transform: translateX(-50%);
  width: 70vw;
  height: auto;
  pointer-events: none;
  z-index: 2;
}

.above-footer-animation2 {
  position: absolute;
  bottom: 100%;
  left: 10%;
  transform: translateX(-50%);
  width: 45vw;
  height: auto;
  pointer-events: none;
  z-index: 2;
}

.footer {
  width: 100%;
  background-color: #0a7aaa;
  height: 3vw;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Regular";
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .title {
    font-size: 15vw;
  }
  .logo {
    width: 14vw;
  }

  .get-started-button {
    font-size: 4vw;
    padding: 4vw;
  }

  .landing-page-message {
    font-size: 6vw;
    margin: 3vw;
    text-align: center;
    margin-bottom: 5vh;
  }
  .codey-gif-container {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }

  .astro-gif-container {
    display: none;
  }
  .ruth-container {
    width: 15vw;
  }
  .einstein-container {
    position: absolute;
    bottom: 100%;
    left: 60%;
    width: 17vw;
  }
  .appy-container {
    display: none;
  }
  .above-footer-animation {
    position: absolute;
    bottom: 9.6vw;
    height: 5vh;
  }
  .above-footer-animation2 {
    position: absolute;
    bottom: 9.8vw;
    height: 30vh;
    width: 80vw;
  }

  .footer {
    position: relative;
    bottom: 0%;
    padding: 3.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 500px) and (max-width: 1024px) {
  .title {
    font-size: 12vw;
  }
  .logo {
    width: 12vw;
  }

  .get-started-button {
    font-size: 3vw;
    padding: 3vw;
  }

  .landing-page-message {
    font-size: 4vw;
    margin: 3vw;
    text-align: center;
    margin-bottom: 5vh;
  }
  .ruth-container{
        width: 12vw;
        left:38%;
  }
  .appy-container {
    left: 53%;
        width: 11vw;
  }
  .einstein-container {
    left: 64%;
    bottom: 240%;
    width: 12vw;
  }
  .astro-gif-container {
    bottom: 140%;
        width: 11vw;
  }
  .codey-gif-container {
    width: 60vw;
    left: 70%;
    bottom: 90%;
  }
  .footer {
    position: relative;
    bottom: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw;
  }
}
