

.NavBar {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100%;
  background-color: #2c2c2c;
  color: rgb(214, 46, 135);
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.NavBar.closed {
  transform: translateX(-100%);
}

.link_to_pages {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.link_to_pages a {
  color: rgb(73, 116, 128);
  text-decoration: none;
  font-size: 18px;
  transition: color 0.2s;
}

.link_to_pages a:hover {
  color: #b3b3b3;
}

.toggle-button {
  background: none;
  border: none;
  color: rgb(126, 82, 82);
  cursor: pointer;
  padding: 10px;
}

.material-icons {
  font-size: 36px;
}
