.navbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  background-color: #0a7aaa;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  padding-left: 0.3rem;
  font-family: "Regular";
}

.navbar-container {
  width: 100px;
  transition: width 0.3s ease;
  overflow: hidden;
}

.navbar-container.open,
.GoalsPage {
  width: calc(100%-300px);
  left: 300px;
}

.navbar-banner {
  margin-top: 1.8rem;
  display: flex;
  flex-direction: row;
  margin-bottom: 1rem;
}

.navbar-title {
  margin-top: 0rem;
  margin-bottom: 0;
  color: white;
  margin-right: 1rem;
  font-size: 42px;
}

.navbar-logo {
  width: 2.8rem;
  margin-right: 0.7rem;
}

.hamburger-button,
.close-button {
  position: absolute;
  color: white;
  top: 6px;
  font-size: 40px;
  height: 50px;
  width: 50px;
  text-align: center;
  line-height: 50px;
  transform: translateX(-50%);
}
.hamburger-button {
  left: 50%;
}

.food-closed {
  margin-top: 3rem;
}
.home-closed {
  margin-top: 6rem;
}
.settings-closed {
  margin-top: 3rem;
  margin-bottom: 2.5rem;
}

.cl-avatarImage,
.cl-userButtonAvatarImage {
  width: 30rem;
}

.close-button {
  left: 90%;
}

.navbar-links a {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 50px;
  width: 100%;
  list-style: none;
  text-decoration: none;
  color: white;
  margin-top: 1rem;
  font-size: 25px;
  margin-left: 0.7rem;
}

.navbar-links .settings:hover {
  background-color: #07587a;
  border-radius: 0.3rem;
}

.navbar-links .home:hover {
  background-color: #07587a;
  border-radius: 0.3rem;
}
.navbar-links .food:hover {
  background-color: #07587a;
  border-radius: 0.3rem;
}
.settings {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  text-align: left;
}

.home {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  text-align: left;
}

.food {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  text-align: left;
}

body.nav-open {
  background: linear-gradient(180deg, #ffffff, #c4ebff);
  width: calc(100% - 250px);
  margin-left: 250px;
}

body.nav-closed {
  background: linear-gradient(180deg, #ffffff, #c4ebff);
  width: calc(100% - 30px);
  transition: all 0.5s ease;
}

h1.welcome-user {
  transition: all 0.5s ease;
  margin-left: 2rem; 
}


body.nav-open .navbar {
  width: 260px;
  transition: width 0.3s ease;
}

body.nav-closed .navbar {
  width: 40px;
  transition: width 0.3s ease;
}

body.nav-open .GoalsPage {
  margin-left: 265px;
}

/* body.nav-closed .GoalsPage {
  margin-left: 200px;
} */

/* phone screen */
@media screen and (max-width: 767px) {
  .navbar {
    position: absolute;
    width: 100% !important;
    height: 30px;
    align-items: center !important;
    justify-content: flex-start !important;
  }

  .navbar-header {
    display: flex;
    align-items: center;
  }

  .hamburger-button {
    margin-right: 9rem;
  }

  .navbar button {
    /* background-color: #c4ebff; */
    /* margin-left: 9rem; */
  }

  .food-closed,
  .home-closed,
  .settings-closed {
    display: none;
  }

  .home-body {
    margin-left: 0rem;
  }

  body.nav-open .navbar {
    width: 100%;
    height: 100%;
    transition: width 0.3s ease;
  }
}

.cl-avatarBox {
  width: 3.5rem;
  height: 3.5rem;
  margin-left:-0.2rem;
}

@media screen and (max-width: 767px) {
  .navbar {
    justify-content: flex-start; 
    align-items: center; 
    height: 50px; 
    z-index: 99;
  }

  h1.welcome-user {
  transition: all 0.5s ease;
  margin-left: 0rem; 
}

  body.nav-open .navbar {
    width: 100%;
    height: 100%;
    transition: width 0.3s ease;
    z-index:99;
    margin-left: 1px;
    left: 0px;
    padding: 0rem;
    /* background-color: red; */
  }

  .pfp {
    position: absolute; 
    margin-left: 15rem;
  }

  body.nav-open .open {
    /* background-color: red; */
    margin-right: 6rem;
  }
  .navbar-header {
    display: flex;
    align-items: center;
  }

  .hamburger-button {
    margin-right: 18rem;
    position: static;
  }
}
