.food-header {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 40px;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 20px;
}
h1 {
  /* text-align: center; */
  font-size: 3.5rem;
  margin-bottom: 0;
  font-family: "Bold";
  margin-top: 0;
  color: #04354a;
}
h2 {
  font-size: 1.3rem;
  font-family: "Bold";
  color: #04354a;
  margin-top: 0;
}
.food-controls {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
}

.dropdown-group {
  padding: 8px;
  margin-right: 3px;
  font-family: "Regular";
  display: flex;
  gap: 1rem;
  position: absolute;
  right: -30rem;
}

select {
  padding: 8px;
  font-size: 1.2rem;
  font-family: "Regular";
}


.allergy {
  margin-right: 500px;
}

.energy-select.energy.level-option{
    border-radius: 0.3rem;
    border-width: 0.2rem;

}

.energy-select.tired-option {
  background-color: #d7bff2;
      border-color:  #b5a1cc;
    border-radius: 0.3rem;
    border-width: 0.2rem;
  /* font-size: 1rem; */

}

.energy-select.stressed-option {
  background-color: #91db8b;
      border-color:  #7bbb75;
    border-radius: 0.3rem;
    border-width: 0.2rem;
  /* font-size: 1rem; */

}

.energy-select.energetic-option {
  background-color: #ff784f;
  border-color: #e06945;
  border-radius: 0.3rem;
  border-width: 0.2rem;
  /* font-size: 1rem; */

}

.energy-select.all-option {
  background-color: #ff7789;
  border-radius: 0.3rem;
  border-color: #e16979;
  border-width: 0.2rem;
  /* font-size: 1rem; */

}

.allergy.none {
  background-color: #ff7789;
  border-radius: 0.3rem;
  border-color: #e16979;
  border-width: 0.2rem;
  /* font-size: 1rem; */
}

.allergy.my.allergies{
    background-color: #ff7789;
  border-radius: 0.3rem;
  border-color: #e16979;
  border-width: 0.2rem;
  /* font-size: 1rem; */

}




.food-main {
  width: 100%;
  padding: 20px;
  margin-right: 20px;
}

.meals-section,
.snacks-section {
  margin-bottom: 40px;
  margin-right: 40px;
}

.ai-companion-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: gold;
  padding: 12px 20px;
  border: none;
  border-radius: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  font-family: "Regular";
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.img-ai {
  margin-right: 0.3rem;
}

.ai-companion-button:hover {
  background: rgb(203, 173, 0);
}

.food-page {
  display: flex;
  flex-direction: column;
  padding-left: 60px;
  gap: 20px;
}

.food-page-header {
  text-align: center;
  margin-bottom: 20px;
}

.food-sections {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Optional: Keep cards grid inside each section */
.meals-list,
.snacks-list {
  display: flex;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}


.meals-scroll-wrapper::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 4px;}  */
