h1.welcome-user {
  margin-left: 6rem;
  margin-top: 4rem;
  font-family: "Bold";
  font-size: 6rem;
  color: #0a7aaa;
  position: absolute;
  height: 100%;
  width: calc(100% - 30px);
  left: 30px;
  transition: all 0.5s ease;
}

.separated-container {
  width: 50%;
}

.container-temp {
  display: flex;
}

