.graph {
  border-radius: 30px;
  height: 18rem;
  width: 100% !important;
  font-family: "Regular";
}

.graph-title {
  font-size: 1.3rem;
  font-family: "Bold";
  color: #04354a;
  top:0;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.graph{
    width:51.5rem;
}

YAxis {
  font-family: "normal";
}
